.menu{
    position: fixed;
    width: 300px;
    height: 100%;
    /* border: 1px solid red; */
    top: 81px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(17, 24, 39);

}
.menu__data{
    width: 85%;
    /* border: 1px solid; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.manu__data_name{
    font-size: 20px;
    color: white;
}
.menu__data .hr{
    margin-top: -20px;
    background: #ffffff31;
    height: 1px;
    /* color: red; */

    /* border: 1px #ffffff17; */
}
.menu__data ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 22px;
    /* margin-left: 10px; */
}
.menu__data a{
    text-decoration: none;
    padding-left: 10px;
    display: flex;
    gap: 5px;
    width: 96%;
    height: 30px;
    /* border: 1px solid; */
    align-items: center;
    justify-content: start;
    color: white;
    outline: none;
    /* color: white; */
}

.menu__data a:hover {
    width: 96%;
    height: 30px;
    background: #ffffff17;
    border-radius: 5px;
}
.menu__data a:focus {
    width: 96%;
    height: 30px;
    background: #ffffff17;
    border-radius: 5px;
}
.menu__data i{
    font-size: 20px;
}
.menu__data span{
    font-size: 14px;
    
}

.menu__share{
    width: 88%;
}

.menu__share_name{
    color: white;
    font-size: 13px;
    text-align: center;
    color: grey;
}
.menu__share .hr{
    background: #ffffff31;
    height: 1px;
    margin-bottom: 26px;
}
.menu__share .share {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.menu__share .share a{
    text-decoration: none;
}
.menu__share .share i{
    color: white;
    font-size: 23px;
    margin-bottom: 100px;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu__share .share i:hover
{
    color: white;
    font-size: 23px;
    /* margin-bottom: 30px; */
    background: #ffffff17;
    border-radius: 5px;

}